.logo-cont{
  height: 30px;
  width: 100px;
  left: 0%;
 }
 
 .card-container{
  display: grid;
  grid-template-columns: 3;
  
 }
 .play{
  font-size: x-large;
}
.heading {
  font-size: 2rem;
  color: #333;
}

.content {
  font-size: 1.2rem;
  color: #666;
}

.content-card {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.box-heading {
  font-size: 1.5rem;
  color: #555;
}

/* Hover effect */
.content-card:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}

/* Animation */
.thank {
  animation-name: fade-in;
  animation-duration: 1s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* contact-form */
.container {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.d-flex {
  display: flex;
}

.justify-content-around {
  justify-content: space-around;
}

.contact-left {
  flex: 1;
  text-align: center;
}

.contact-left p {
  margin: 0;
}
.contact-left .contact-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-right {
  flex: 2;
}

.form-label {
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea.form-control {
  resize: vertical;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .d-flex {
    flex-direction: column;
  }

  .contact-left,
  .contact-right {
    text-align: center;
  }
}

/* feedback-form */
.card {
  width: 190px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-body {
  padding: 20px;
}

.card-footer {
  background-color: #f9f9f9;
  padding: 15px 20px;
  border-top: 1px solid #ddd;
}

.card-footer span {
  font-size: 14px;
}

@media (max-width: 576px) {
  .card {
    width: 100%;
  }
}
 .api{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
 }
 .play{
  display: none;
  
 }